@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{
   color: teal; 
   margin-bottom: 10px;
}

#bear-photo{
  width: 400px;
  margin-top: 10px;
}

.special{
  border: 1px solid #1abe20;
  margin: 10px 0;
}

input[type='password']{
  padding: 10px 0;
}